{% extends 'base.html' %}

{% block content %}
	<h1>Lista de Clientes</h1>

		<div>
			<table class="table">
				<thead>
					<tr>
						<th>Nome</th>
						<th>CPF</th>
						<th>Idade</th>
						<th>Email</th>
						<th>Telefone</th>
						<th>Criado em</th>
					</tr>
				</thead>
				<tbody>
				{% for inscricao in page_obj %}
					<tr>
						<td>{{ inscricao.nome }}</td>
						<td>{{ inscricao.cpf }}</td>
						<td>{{ inscricao.idade }}</td>
						<td>{{ inscricao.email }}</td>
						<td>{{ inscricao.telefone }}</td>
						<td>{{ inscricao.criado_em|date:"d/m/Y" }}</td>
					</tr>
				{% empty %}
					<p>Sem itens na lista.</p>
				{% endfor %}
				</tbody>
			</table>
		</div>

	    <hr>
    
<!-- pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
					{% if page_obj.has_previous %}
						<li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
					{% endif %}
					{% for pg in page_obj.paginator.page_range %}
						{% if page_obj.number == pg %}
							<li class="active"><a href="?page={{ pg }}">{{ pg }}</a></li>
						{% else %}
							<li><a href="?page={{ pg }}">{{ pg }}</a></li>
						{% endif %}
					{% endfor %}
					{% if page_obj.has_next %}
						<li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
					{% endif %}
				</ul>
			</div>
		</div>

{% endblock content %}